{% extends "index.html" %}

{% block content %}
    <div class="indicomment">
        {{ comment.render() | safe }}
    </div>



     <div class="container">
            <div class="container-fluid">
                <form method="post" class="comment">


                    <div class="col-md-12 comment_entry">
                        <textarea name="comment">{{ comment }}</textarea>
                    </div>

                    <div class="col-md-12 submit_comment">
                        <input type="submit">
                    </div>

                </form>
        </div>
    </div>

{% endblock %}