{% extends "index.html" %}

{% block content %}
    <div class="indipost">
        {{ post.render() | safe }}
        <br><br>
    </div>
 <div class="comment">
        {% for c in comments %}
           {{ c.render() | safe }}
            <div class="editbutoon">
    {% if c.username == username %}
                <button><a href="/comment/{{ c.key.id() }}">Edit Post</a> </button>
                {% endif %}
</div>
            <br><br>
        {% endfor %}
    </div>
        <div class="container">
            <div class="container-fluid">
                <form method="post" class="comment">


                    <div class="col-md-12 comment_entry">
                        <textarea name="comment">{{ comment }}</textarea>
                    </div>

                    <div class="col-md-12 submit_comment">
                        <input type="submit">
                    </div>
                {% if username == post.username %}
                <button><a href="/edit/{{post.key.id()}}">Edit Post</a> </button>
                {% endif %}
                </form>



            </div>
        </div>


{% endblock %}