{% extends "index.html" %}

{% block signup %}

<form method="post" class = "signup">

    <label>Email Address<br />
        <input type="text" name="email" value="{{ email }}"></label><br/>
    <label>Username<br />
        <input type="text" name="username" value="{{ username }}"></label><br/>
    <label>Password<br />
        <input type="password" name="password" value="{{ password }}"></label><br/>
    <label>ReEnter<br />
        <input type="password" name="verify" value="{{ verify }}"></label>
    <div>
    <input type="submit">
    </div>
    <div>{{ error_signup }}</div>
</form>

{% endblock %}

    